html, body, section, article, header, footer, main, aside, nav, form, [jscontroller="u9YDDf"] > div > .FalWJb, input, block-component > [data-hveid] > div, button, #appbar, #rso > div > div > div, table, [data-hveid], [data-rpos] > [data-hveid] > div, tbody, [aria-label="Short videos"], tr, .cIlcle .fHE6De,#imp > div > div > div .k4o2Hc, g-popup > [role="button"], g-popup > [role="button"] > div, g-popup > [role="button"] + div, td, #imp > div > div,#imp > div > div > div , [role="columnheader"], .rfiSsc.XtQzZd.YNk70c, #cnt > div, #main > #cnt > div > [data-st-cnt="fb"], [data-hveid="CBsQAA"] > [data-hveid="CBoQAA"] > .Ww4FFb.vt6azd, [data-hveid="CDUQIg"] > .NEw0P.WfvaCf, .EyBRub.Z3cUR .pKv8Zb.fm06If, .EyBRub.Z3cUR .exZRme, [role="heading"].Ss2Faf, .WzWwpc.vve6Ce, .AgWCw.OAyEGe > div:nth-child(1), .WzWwpc.vve6Ce > div > .qEn1od, hr.e9c7U, .TRTzFc, [data-xid="aim-zsv2-turns-container"], [data-wiz-rootname="HlQRGc"], [jsname="NlVIob"].qEn1od, [jsname="F457ec"] > .Bdhvof, hr.rhHIGd, [jsname="coFSxe"] > div > div, .A6K0A > .obcontainer, [data-active="input-plate-active"] > .AgWCw > .Zze5V {
  background: transparent !important;
  background-color: transparent !important;
  transition: background-color 0.3s ease-in-out !important;
}
h1 + [role="navigation"].GG4mbd {
  margin: auto 1em !important;
}
.vzEsdb {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%) !important;
  mask-repeat: no-repeat !important;
  mask-size: cover !important;
  border-radius: 1em !important;
}
.exZRme {
  border-color: transparent !important;
}
.Fgyi2e.rZj61.caNvfd {
  border-radius: 1em !important;
}
.F9Idpe {
  border-radius: 1em !important;
  height: 50px !important;
}
.aajZCb, .review-dialog, [role="dialog"] .IHjTsb, button + .gXQlA, [isfullscreen="false"] [role="dialog"], [role="dialog"] .JHxP8e, #liveresults-sports-immersive__team-fullpage, div.immersive-container {
  background-color: var(--uv-styles-color-surface) !important;
}
div.sfbg {
  background-color: var(--darkreader-border-ffffff) !important;
}
:root {
  --darkreader-background-ffffff: transparent !important;
}
body {
  background-color: #00000000 !important;
}
.in7vHe.FR7ZSc.FR7ZSc .niO4u, div.RNNXgb, div.immersive-container, [role="dialog"], #sports-app > div > div[role="link"], #sports-app [role="link"] [role="heading"] .ofy7ae, #liveresults-sports-immersive__league-fullpage [role="heading"] .ofy7ae, h2 + [jsname="tiXAab"].iDYYme.OiT5Ue, g-popup > div {
  background-color: var(--EpFNW) !important;
}
#gsr > .tkcvsb > div {
  background-color: var(--COEmY) !important;
}
#rcnt .RDmXvc {
  border-radius: 0 0 1em 1em !important;
}
#rcnt .hdzaWe {
  border-radius: 1em !important;
  overflow: hidden !important;
  transition: background-color 0.5s ease-in-out !important;
  background-color: color-mix(in srgb, var(--EpFNW) 50%, transparent) !important;
  outline: color-mix(in srgb, var(--EpFNW) 50%, transparent) 8px solid;
}
#rcnt .lACQkd > [aria-label="Show more AI Overview"] {
  margin: auto !important;
}
#rcnt .omFXYd {
  display: none !important;
}
#rcnt .h7Tj7e {
  outline: none !important;
  outline-color: transparent !important;
}
.rfiSsc {
  transition: all 1s ease-in-out !important;
}
.rfiSsc.JiJthb {
  transition: all 0s ease-in-out !important;
  opacity: 0 !important;
}
