#liveresults-sports-immersive__match-fullpage {
  background-color: var(--EpFNW) !important;
}
#searchform.minidiv div.RNNXgb, .Al1iSe > div > div, [jscontroller="Dvn7fe"]:has([data-bkt="searchbox"]) .aajZCb {
  background-color: var(--uv-styles-color-footer, var(--EpFNW)) !important;
}
.kuydt:not(.ecGr2) {
  background-color: var(--EpFNW) !important;
  border-radius: 1em 0 0 1em;
}
#liveresults-sports-immersive__match-fullpage .nGzje, [data-hveid="CAEQAQ"], #liveresults-sports-immersive__league-fullpage > div:nth-child(2) > div:nth-child(1) {
  background-color: var(--uv-styles-color-footer, var(--EpFNW)) !important;
  border-radius: 2em !important;
}
